@using FM4017Library.Dtos
<h5>Signals from selected point</h5>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Signal Id</th>
            <th>Point Id</th>
            <th>Timestamp</th>
            <th>Unit</th>
            <th>Value</th>
            <th>Signal Created At</th>
            <th>Signal Updated At</th>
            <th>Signal strength</th>
            <th>SNR</th>
        </tr>
    </thead>
    <tbody>
        @if (Signals != null)
        {
            @foreach (var signal in Signals)
            {
                @*<tr @onclick="() => SelectedSignal = signal">*@
                <tr @onclick="() => ChangeSelectedSignal(signal)">
                    <td>@signal.Id</td>
                    <td>@signal.PointId</td>
                    <td>@signal.Timestamp</td>
                    <td>@signal.Unit</td>
                    <td>@signal.Data?.RawValue</td>
                    <td>@signal.CreatedAt</td>
                    <td>@signal.UpdatedAt</td>
                    <td>@signal.Metadata?.SignalStrength</td>
                    <td>@signal.Metadata?.Snr</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<SignalNode>? Signals { get; set; }

    [Parameter]
    public SignalNode? SelectedSignal { get; set; }
    
    [Parameter]
    public EventCallback<SignalNode> SelectedSignalChanged { get; set; }

    private async Task ChangeSelectedSignal(SignalNode signal)
    {
        await SelectedSignalChanged.InvokeAsync(signal);
    }
}
