@using FM4017Library.Dtos
@using FM4017Library.Helpers

<div class="controlRow">
    <button class="btn btn-primary" @onclick=Home>Home</button>
    <button class="btn btn-primary" @onclick=Up>Up</button>
    <br />
    <br />
</div>


<h5>Subspaces in selected Space</h5>
Selected Space: @_selectedSpace?.Name @*(id: @_selectedSpace?.Id)*@


<table class="table table-striped table-light table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Sub Spaces</th>
            <th>Points</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Spaces != null)
        {
            @foreach (var space in Spaces.Where(s => s.Parent?.Id == _selectedSpace?.Id))
            {
                <tr @onclick="() => _selectedSpace = space">
                    <td>@space.Name</td>
                    <td>@space.Id</td>
                    <td>@DateTimeHelpers.DateTimePrintFormatter(DateTimeHelpers.UtcTime2Local(space.CreatedAt))</td>
                    <td>@DateTimeHelpers.DateTimePrintFormatter(DateTimeHelpers.UtcTime2Local(space.UpdatedAt))</td>
                    <td>@space.Metadata?.Latitude?.ToString("0.###")</td>
                    <td>@space.Metadata?.Longitude?.ToString("0.###")</td>
                    <td>@Spaces.Count(s => s.Parent?.Id == space.Id)</td>
                    <td>@space.Points?.PointNodes?.Count</td>
                    @if (!string.IsNullOrEmpty(space?.Metadata?.ImageUrl))
                    {
                        <td><a target="_blank" href="@space?.Metadata?.ImageUrl?">Show</a></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />
<PointTable 
Points="Spaces?.Find(s => s.Id == _selectedSpace?.Id)?.Points?.PointNodes"
@bind-SelectedPoint="_childSelectedPoint" 
@bind-ChildSelectedSignal="_childSelectedSignal" />


@code {

    // Input to component
    [Parameter]
    public List<SpaceNode>? Spaces { get; set; }

    private SpaceNode? _selectedSpace;
    private PointNode? _childSelectedPoint;
    private SignalNode? _childSelectedSignal;

    private void Up()
    {
        // select parent
        _selectedSpace = Spaces?.Find(s => s.Id == _selectedSpace?.Parent?.Id);
        // Remove selections
        _childSelectedPoint = null;
        _childSelectedSignal = null;
    }

    private void Home()
    {
        // Remove selections
        _selectedSpace = null;
        _childSelectedPoint = null;
        _childSelectedSignal = null;
    }
}
